body {
	background-color: #666666;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.border-left {
	background-image: url(../images/border-left.gif);
	background-repeat: repeat-y;
}
.border-right {

	background-image: url(../images/border-right.gif);
	background-repeat: repeat-y;
}
.backgr-right {
	background-image: url(../images/backgr-right.gif);
	background-position: left top;
}
.backgr-left {

	background-image: url(../images/backgr-left.gif);
	background-position: right top;
}
.header-back-logout {
	background-image: url(../images/header-back-logout.jpg);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.logout {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #6b400d;
}
.logout:link {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #6b400d;
}
.logout:hover {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #6b400d;
	text-decoration: none;
}
.submenu-row {
	background-image: url(../images/submenu-back.gif);
	background-repeat: repeat-x;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#submenu:link {
	color: #1B5FA9;
}

#submenu-normal {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	border: 1px solid #A4A4A4;
	background-color: #fafafa;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin: 0px;
	font-weight: normal;
}
#submenu:hover {
	color: #1B5FA9;
	text-decoration: none;
}
#submenu:visited {

	color: #1B5FA9;
}
#submenu-active {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	background-color: #FFFFFF;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin: 0px;
	font-weight: bold;
	color: #000000;
	border-top: 1px solid #A4A4A4;
	border-right: 1px solid #A4A4A4;
	border-bottom: 1px dotted #A4A4A4;
	border-left: 1px solid #A4A4A4;
}
.dotted-border {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: dashed;
	border-top-color: #A4A4A4;
	border-right-color: #A4A4A4;
	border-bottom-color: #A4A4A4;
	border-left-color: #A4A4A4;
}
.content-padding {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.content-padding2 {

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.calendar-header {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #f6f6f6;
	padding: 4px;
	border: 1px solid #CECECE;
	background-image: url(../images/backgr-calhead.gif);
	background-position: left bottom;
}
.calendar-monthtxt {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #6B400D;
}
.txt-side {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #8B8B8B;
	line-height: 16px;
}
.table-header {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 6px 4px 6px 5px;
	background-color: #F57D1C;
}



.calendar-header-months {

	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #FEEDD9;
	padding: 6px;
	border: 1px dotted #c3c3c3;
}
.calendar-cell {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #eff5fd;
	padding: 4px;
	border: 1px solid #CECECE;
	background-image: url(../images/backgr-cell.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.calendar-day {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
}
.table-line {

	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #333333;
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 6px 4px 6px 5px;
}
.outline-grey {
	border: 1px solid #CECECE;
}
.book-list-header {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding: 4px;
}
.book-list-back {
	background-color: #F0F5FD;
	background-image: url(../images/backgr-booknames.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.outline-bluish {
	border-top: 1px solid #7C8AA0;
	border-right: 0px solid #7C8AA0;
	border-bottom: 1px solid #7C8AA0;
	border-left: 0px solid #7C8AA0;
}
.outline-topb {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #e4e7eb;
	border-right-color: #e4e7eb;
	border-bottom-color: #e4e7eb;
	border-left-color: #e4e7eb;
}
.table-header-light {

	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #BE5011;
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 6px 4px 6px 5px;
	background-color: #FEEDD9;
}
.sitetable-padding {
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
}
.sidetable-dropdown1 {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 130px;
}

.sidetable-txt {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.sidetable-dropdown2 {

	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 40px;
}
.txt-tahoma {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 18px;
}
.cell-130 {


	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 130px;
}
