#Options +FollowSymlinks
AddType video/mp4 .mp4 .m4v
AddType video/ogg .ogv
AddType video/webm .webm

RewriteEngine On
 
Redirect 302 /thamesrockets http://www.londonribvoyages.com/booking.php?tour_id=12&subpage=tour_details
Redirect 302 /thamesrocket http://www.londonribvoyages.com/booking.php?tour_id=12&subpage=tour_details

RewriteCond %{REQUEST_URI}  ^\/?vouchers\/?(.*)\.print
RewriteRule ^\/?vouchers\/?(.*)\.print /vouchers/print.php?code=$1

RewriteCond %{REQUEST_URI}  ^\/?vouchers\/?(.*)\.html$
RewriteRule ^\/?vouchers\/?(.*)\.html$ /vouchers/html.php?code=$1

RewriteCond %{REQUEST_URI}  ^\/?vouchers\/?(.*)\.pdf$
RewriteRule ^\/?vouchers\/?(.*)\.pdf$ /vouchers/pdf.php?code=$1

# Old site to new Site

RewriteCond %{REQUEST_URI}  ^/route.php$
RewriteRule .* /map.php

RewriteCond %{REQUEST_URI}  ^/location.php$
RewriteRule .* /map.php

RewriteCond %{REQUEST_URI}  ^/families.php$
RewriteRule .* /detail-captainkiddcanarywharf.php

RewriteCond %{REQUEST_URI}  ^/who_is_this_for.php$
RewriteRule .* /safety.php

RewriteCond %{REQUEST_URI}  ^/about_us_our_boat.php$
RewriteRule .* /why-us.php

RewriteCond %{REQUEST_URI}  ^/about_us_features.php$
RewriteRule .* /why-us.php

RewriteCond %{REQUEST_URI}  ^/about_us_guides_stacey.php$
RewriteRule .* /crew.php#1

RewriteCond %{REQUEST_URI}  ^/about_us_guides_ben.php$
RewriteRule .* /crew.php#2

RewriteCond %{REQUEST_URI}  ^/about_us_guides.php$
RewriteRule .* /crew.php

RewriteCond %{REQUEST_URI}  ^/about_us_guides_mike_cole.php$
RewriteRule .* /crew.php#5

RewriteCond %{REQUEST_URI}  ^/about_us_guides_matt1.php$
RewriteRule .* /crew.php#4

RewriteCond %{REQUEST_URI}  ^/about_us_guides_matt2.php$
RewriteRule .* /crew.php#3

RewriteCond %{REQUEST_URI}  ^/stag_and_hen.php$
RewriteRule .* /services.php

RewriteCond %{REQUEST_URI}  ^/contact.php$
RewriteRule .* /index.php#1

RewriteCond %{REQUEST_URI}  ^/filming.php$
RewriteRule .* /services.php

RewriteCond %{REQUEST_URI}  ^/corporate_groups.php$
RewriteRule .* /services.php

RewriteCond %{REQUEST_URI}  ^/Termsandconditions.pdf$
RewriteRule .* /terms.php

RewriteCond %{REQUEST_URI}  ^/press_release.php$
RewriteRule .* /why-us.php

RewriteCond %{REQUEST_URI}  ^/skyfall.php$
RewriteRule .* /index.php

RewriteCond %{REQUEST_URI}  ^/vessels.htm$
RewriteRule .* /safety.php#1

RewriteCond %{REQUEST_URI}  ^/about_us_people_say.php$
RewriteRule .* /why-us.php

RewriteCond %{REQUEST_URI}  ^/about_us.php$
RewriteRule .* /why-us.php

#RewriteCond ^booking.php?subpage=charter$
#RewriteRule .* services.php


RewriteRule ^about_us_videos.php$ https://www.youtube.com/channel/UC_78eKTUZPWQv7Yhb6jIJVA [NC,R=301,L]

RewriteRule ^special_offer.php$ https://londonribvoyages.wordpress.com/ [NC,R=301,L]

RewriteRule ^in_the_news.php$ https://londonribvoyages.wordpress.com/ [NC,R=301,L]

RewriteRule ^media_center.php$ https://londonribvoyages.wordpress.com/ [NC,R=301,L]
# End old site to new site

RewriteCond %{REQUEST_URI}  ^\/?booking\/?(.*)\.html$
RewriteRule ^\/?booking\/?(.*)\.html$ /booking/print.php?code=$1

#### Resellers API ####
RewriteRule api/resellers/getavailableoffers service.php?action=offers
RewriteRule api/resellers/getofferavailability service.php?action=availability
RewriteRule api/resellers/makereservation service.php?action=reservation
RewriteRule api/resellers/confirmbooking service.php?action=confirmation

#### Bookings API ####
RewriteRule api/bookings/gettourtickets bookingController.php?action=tourTickets [QSA]


#RewriteRule ^(.*)$ http://162.13.140.19/$1 [R=301,L]

# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

