.lr_left_r1_desc{float:left;width:560px;margin:0;padding:0;}
.booking_left_r1_middle_desc{float:left;width:530px; margin:0; padding:18px 15px 0 15px; background:url(../../../images/ab_t_middle.jpg) 0 0 repeat-y; -margin-top:-9px;}
.lr_right_r1{width:401px; height:auto; margin:0 0 0 10px; padding:0; float:right;}